

.option-bar{
  display:table;
  padding: 6px 16px 0px 16px;
  align: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #11111122;
}

#canvas-container { width: 100%; }

#load-text {

  text-align: center;
  font-family: 'Share', cursive;
}



